bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.env

WebApi/Backups/*
!WebApi/Backups/.gitkeep

WebApi/uploads/Notifications/
WebApi/avatars/

!WebApi/uploads/Notifications/.gitkeep
!WebApi/avatars/.gitkeep

Infrastructure/Migrations/*