bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.env
.txt

WebApi/Backups/*
!WebApi/Backups/.gitkeep

WebApi/uploads/Notifications/*
WebApi/uploads/avatars/*
WebApi/uploads/channelMessages/*

!WebApi/uploads/Notifications/.gitkeep
!WebApi/uploads/avatars/.gitkeep
!WebApi/uploads/channelMessages/.gitkeep

Infrastructure/Migrations/*